@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #458ff6;
  --secondary-color: #7d7987;
  --black: #000;
  --white: #fff;
}

body {
  font-family: "Mulish", serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
p {
  font-size: 18px;
  font-weight: 300;
}
/* header section s  */
header {
  padding-top: 50px;
  margin-bottom: 84px;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-section .logo img {
  width: 160px;
  height: 41px;
}
.menu-items ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.menu-items ul li {
  list-style: none;
  color: rgb(31, 21, 52, 0.5);
}
.menu-items ul li a {
  font-size: 18px;
  color: rgb(31, 21, 52, 0.5);
  font-weight: 700;
  transition: all linear 0.4s;
}

.menu-items ul li a:hover {
  color: #1f1534;
}

.header-section .hambarger-icon {
  display: none;
}
.header-section .hambarger-icon {
  font-size: 30px;
}
/* header secton start */

/* hero-section starts */
#hero {
  margin-bottom: 190px;
  position: relative;
}
.hero-section {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}
.hero-content {
  width: 40%;
  /* display: flex;
  flex-direction: column;
  gap: 25px; */
}
.hero-content h1 {
  font-size: 48px;
  color: var(--black);
  width: 100%;
}
.hero-content p {
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
  color: var(--secondary-color);
  padding: 25px 0 45px 0;
}
.hero-content > button {
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  padding: 25px 40px;
  border-radius: 55px;
}
.hero-img {
  width: 60%;
}
.hero-img img {
  width: 100%;
}

.hero-modal {
  position: absolute;
  top: 25px;
  left: 0;
}

/* hero section end */

/* service sections starts */
#service {
  position: relative;
}
.service-section {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.service-title h2 {
  line-height: 56px;
  text-align: center;
}

.service-title > p {
  margin: auto;
  width: 70%;
  text-align: center;
}

.service {
  /* width: 350px;
  height: 350px; */
  padding: 46px 38px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 22px;
  -webkit-box-shadow: 3px -3px 23px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px -3px 23px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 3px -3px 23px -8px rgba(0, 0, 0, 0.75);
}
.service > p {
  /* width: 270px; */
  font-size: 16px;
  font-weight: 400;
}

.service-section .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

button.service-btn {
  margin: auto;
}

.btn {
  width: 200px;
  color: var(--primary-color);
  border: none;
  border: 2px solid var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 55px;
}

/* service modals */
.service-left-modal {
  position: absolute;
  z-index: -1;
  top: 15%;
  left: 0;
}
.service-left-modal img {
  width: 100%;
}
.service-right-modal {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
}
.service-right-modal img {
  width: 100%;
}

/* service section ends here */

/* healthcare section and download app section start here  */
#healthcare {
  margin: 200px 0;
}
.healthcare-section {
  display: flex;
  align-items: center;
  gap: 37px;
  justify-content: space-between;
}
.image {
  width: 50%;
}
.image > img {
  width: 100%;
}
.content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content > span {
  border: 1px solid var(--black);
  width: 56px;
}

.content > p {
  margin-bottom: 40px;
}

/* download app sec s */
.download-app-section {
  flex-direction: row-reverse;
}
.download-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* ends */

/* testimonial start */

#testimonial {
  margin: 100px 0;
}

.testimonial-section {
  padding: 65px 0 80px 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 24px;
  background-image: linear-gradient(
    to right top,
    #67c3f3,
    #5bb9f4,
    #54aff5,
    #54a4f4,
    #5a98f2
  );
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 70px;
  position: relative;
}
.sec-title {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.sec-title > span {
  border: 1px solid var(--white);
  width: 56px;
}

.testimonial {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.testmo-person {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 33px;
}
.tst-img img {
  width: 133px;
  height: 133px;
}
.testmo-feedback {
  width: 50%;
}
/* modal */

.modal-left {
  position: absolute;
  left: -5%;
  bottom: 10%;
  z-index: -1;
}
.modal-right {
  position: absolute;
  top: -4%;
  right: -4%;
  z-index: 1;
  /* mix-blend-mode: screen; */
}

.make-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testmo-slide {
  margin-top: 47px;
  display: flex;
  align-items: center;
  gap: 90px;
}

/* .testmo-slide i {
  color: var(--primary-color);
} */

.dotted {
  display: flex;
  align-items: center;
  gap: 18px;
}
.previous > i,
.next > i {
  transition: all linear 0.4s;
}
.previous > i:hover,
.next > i:hover {
  color: var(--primary-color);
  /* font-size: 28px; */
}
/* .previous i:hover {
  color: var(--primary-color);
}
.next i:hover {
  color: var(--primary-color);
} */
.dotted > i {
  transition: all linear 0.4s;
  border-radius: 50%;
}
.dotted > i:hover {
  background-color: var(--primary-color);
}

/* testimonial section ends here */
