@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #458ff6;
  --secondary-color: #7d7987;
  --black: #000;
  --white: #fff;
}

body {
  font-family: "Mulish", serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
p {
  font-size: 18px;
  font-weight: 300;
}
/* header section s  */
header {
  padding-top: 50px;
  margin-bottom: 84px;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-section .logo img {
  width: 160px;
  height: 41px;
}
.menu-items ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.menu-items ul li {
  list-style: none;
  color: rgb(31, 21, 52, 0.5);
}
.menu-items ul li a {
  font-size: 18px;
  color: rgb(31, 21, 52, 0.5);
  font-weight: 700;
  transition: all linear 0.4s;
}

.menu-items ul li a:hover {
  color: #1f1534;
}

.header-section .hambarger-icon {
  display: none;
}
.header-section .hambarger-icon {
  font-size: 30px;
}
/* header secton start */

/* hero-section starts */
#hero {
  margin-bottom: 190px;
  position: relative;
}
.hero-section {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}
.hero-content {
  width: 40%;
  /* display: flex;
  flex-direction: column;
  gap: 25px; */
}
.hero-content h1 {
  font-size: 48px;
  color: var(--black);
  width: 100%;
}
.hero-content p {
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
  color: var(--secondary-color);
  padding: 25px 0 45px 0;
}
.hero-content > button {
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  padding: 25px 40px;
  border-radius: 55px;
}
.hero-img {
  width: 60%;
}
.hero-img img {
  width: 100%;
}

.hero-modal {
  position: absolute;
  top: 25px;
  left: 0;
}

/* hero section end */

/* service sections starts */
#service {
  position: relative;
}
.service-section {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.service-title h2 {
  line-height: 56px;
  text-align: center;
}

.service-title > p {
  margin: auto;
  width: 70%;
  text-align: center;
}

.service {
  /* width: 350px;
  height: 350px; */
  padding: 46px 38px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 22px;
  -webkit-box-shadow: 3px -3px 23px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px -3px 23px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 3px -3px 23px -8px rgba(0, 0, 0, 0.75);
}
.service > p {
  /* width: 270px; */
  font-size: 16px;
  font-weight: 400;
}

.service-section .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

button.service-btn {
  margin: auto;
}

.btn {
  width: 200px;
  color: var(--primary-color);
  border: none;
  border: 2px solid var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 55px;
}

/* service modals */
.service-left-modal {
  position: absolute;
  z-index: -1;
  top: 15%;
  left: 0;
}
.service-left-modal img {
  width: 100%;
}
.service-right-modal {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
}
.service-right-modal img {
  width: 100%;
}
