@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #458ff6;
  --secondary-color: #7d7987;
  --black: #000;
  --white: #fff;
}

body {
  font-family: "Mulish", serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
/* header section s  */
header {
  padding-top: 50px;
  margin-bottom: 84px;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-section .logo img {
  width: 160px;
  height: 41px;
}
.menu-items ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.menu-items ul li {
  list-style: none;
  color: rgb(31, 21, 52, 0.5);
}
.menu-items ul li a {
  font-size: 18px;
  color: rgb(31, 21, 52, 0.5);
  font-weight: 700;
  transition: all linear 0.4s;
}

.menu-items ul li a:hover {
  color: #1f1534;
}

.header-section .hambarger-icon {
  display: none;
}
.header-section .hambarger-icon {
  font-size: 30px;
}
/* header secton start */

/* hero-section starts */
#hero {
  margin-bottom: 190px;
}
.hero-section {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}
.hero-content {
  width: 40%;
  /* display: flex;
  flex-direction: column;
  gap: 25px; */
}
.hero-content h1 {
  font-size: 48px;
  color: var(--black);
  width: 100%;
}
.hero-content p {
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
  color: var(--secondary-color);
  padding: 25px 0 45px 0;
}
.hero-content > button {
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  padding: 25px 40px;
  border-radius: 55px;
}
.hero-img {
  width: 60%;
}
.hero-img img {
  width: 100%;
}
